@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Prata&display=swap');

body {
    margin: 0px;
    padding: 0px;
}

.row {
    margin: 0px;
}



/**Additional Classes**/
.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

/**Main Heading Logo**/
header {
    background-color: #be6851;
    margin: 0px;
    padding: 0px;
}

h1 {
    text-align: center;
    font-family: 'Akaya Telivigala', cursive;
    font-size: 50px;
    padding: 10px 0px;
    margin: 5px 0px;
    color:#0d0709;
}

/**Navigation**/

.navigation {
    width: 100%;
    background-color: #0d0709;
    margin-top: 4.8rem;
    margin-right: -15px;
    margin-left: -15px;
    padding: 0px;
    position: absolute;
}

.navMenu {
  list-style-type: none;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.navItem {
    display: inline;
    margin: 5px auto;
    text-decoration: none;
}

.navItem a {
  display: inline-block;
  color:  #d6cdd2;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  margin: 10px auto;
  font-family: 'Prata', serif;
  font-size: 20px;
  font-weight: 700;
  margin: 5px;
  transition: all 0.35 ease-in-out;
    -moz-transition: all 0.35 ease-in-out;
    -webkit-transition: all 0.35 ease-in-out;
    -o-transition: all 0.35 ease-in-out;
}

.navItem a:hover,
.active
.navItem a:active {
    color: #b00f16;
    background-color: #d6cdd2;
    border-radius: 10%;
}

/*Hero Image*/

#main {
    width: 100%;
    min-height: fit-content;
    height: 1200px;
}

.hero-img {
  background: url("../images/bar-hero-img.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;

}

.call-out {
    background-color: #d6cdd2;
    width: 25%;
    max-height: 380px;
    padding: 10px;
    margin: 140px auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow:  25px 15px 8px rgb(0 0 0 / 80%);
}

.sub-heading {
    text-align: center;
    font-family: 'Akaya Telivigala', cursive;
    font-size: 40px;
    padding: 10px 5px;
    margin: 5px 2px;
    color:#0d0709;
}

.call-out p {
  color:  #0d0709;
  padding: 12px;
  font-family: 'Prata', serif;
  font-size: 18px;
  font-weight: 600;
}

/*****Footer*****/

footer {
    height: fit-content;
    width: 100%;
    background: #0d0709;
}

.floating-footer {
    background-color: black;
}

.social-icons {
  list-style-type: none;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%
}

.social-icons li {
    display: inline-block;
    position: relative;
    padding: 20px;
    margin: 5px;
    color:  #d6cdd2;
    font-size: 40px;
    box-shadow:  25px 15px 8px rgb(0 0 0 / 80%);
}

.social-icons li a {
    color: #e3d8ee;
    transition: all 0.35 ease-in-out;
    -moz-transition: all 0.35 ease-in-out;
    -webkit-transition: all 0.35 ease-in-out;
    -o-transition: all 0.35 ease-in-out;
}

.social-icons li a:hover {
    color: #b00f16;
    background-color: #d6cdd2;
    border-radius: 10%;
    padding: 10px;
}

/*******Media Queries*****/

@media screen and (max-width: 575.98px) {
    .social-icons li {
        padding: 5px;
    }

    .call-out {
          margin-top: 180px;
          margin-bottom: 10px;
          box-shadow:  25px 15px 8px rgb(0 0 0 / 80%);
    }

    h1 {
        font-size: 35px;
    }

    .navigation {
        margin-top: 4rem;
    }

}

@media screen and (max-width: 991.98px) {
   .call-out {
    width: 30%;
    height: 300px;
    margin-top: 180px;
    margin-bottom: 20px;
    border: 2px solid transparent; 
    padding: 2px;
    }
}