@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Prata&display=swap');

body {
    margin: 0px;
    padding: 0px;
}

.row {
    margin: 0px;
}



/**Additional Classes**/
.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

/**Main Heading Logo**/
header {
    background-color: #be6851;
    margin: 0px;
    padding: 0px;
}

h1 {
    text-align: center;
    font-family: 'Akaya Telivigala', cursive;
    font-size: 50px;
    padding: 10px 0px;
    margin: 5px 0px;
    color:#0d0709;
}

/**Navigation**/

.navigation {
    width: 100%;
    background-color: #0d0709;
    margin-top: 4.8rem;
    margin-right: -15px;
    margin-left: -15px;
    padding: 0px;
    position: absolute;
}

.navMenu {
  list-style-type: none;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.navItem {
    display: inline;
    margin: 5px auto;
    text-decoration: none;
}

.navItem a {
  display: inline-block;
  text-transform: uppercase;
  color:  #d6cdd2;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  margin: 10px auto;
  font-family: 'Prata', serif;
  font-size: 20px;
  font-weight: 700;
  margin: 5px;
  transition: all 0.35 ease-in-out;
    -moz-transition: all 0.35 ease-in-out;
    -webkit-transition: all 0.35 ease-in-out;
    -o-transition: all 0.35 ease-in-out;
}

.navItem a:hover,
.active,
.navItem a:active {
    color: #b00f16;
    background-color: #d6cdd2;
    border-radius: 10%;
}
.toggle-btn {
    position: relative;
    top: -3.5rem;
    left: 20rem;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    display: none;
    padding: 5px;
    border: none;
    width: 50px;
    height: 50px;
    font-size: 40px;
    border-radius: 10px;
    background-color: #be6851;
}



/*Hero Image*/

#main {
    width: 100%;
    min-height: fit-content;
    /*height: 700px;*/
    height: 80vh;
}

.hero-img,
.about,
.recipe-page,
.contact-form {
  background: url("../images/bar-hero-img.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;

}

.call-out {
    background-color: #d6cdd2;
    width: 25%;
    max-height: 380px;
    padding: 10px;
    margin: 140px auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow:  15px 5px 8px rgba(0, 0, 0, 0.8);
}

.sub-heading {
    text-align: center;
    font-family: 'Akaya Telivigala', cursive;
    font-size: 40px;
    padding: 10px 5px;
    margin: 5px 2px;
    color:#0d0709;
}

.call-out p {
  color:  #0d0709;
  padding: 12px;
  font-family: 'Prata', serif;
  font-size: 18px;
  font-weight: 600;
}

/*******About*****/

.about-box {
    max-width: 70%;
    height: fit-content;
    background-color: white;
    margin: 5rem auto;
    border-radius: 10px;
    box-shadow:  15px 5px 8px rgba(0, 0, 0, 0.8);
}
.about-box h1 {
    color: #be6851;
}

.about-box p {
  color:  #0d0709;
  padding: 12px;
  font-family: 'Prata', serif;
  font-size: 20px;
  font-weight: 500;
}

#bio-1,
#bio-2 {
    width: 350px;
    height: 23rem;
    background-color: #be6851;
    display: inline-block;
    padding: 20px;
    margin: 30px auto;
    align-content: center;
    border-radius: 10px;
    box-shadow:  15px 5px 8px rgba(0, 0, 0, 0.8);
}



.img-bartender-1,
.img-bartender-2 {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: 10px 35px;
    cursor: pointer;
}

#bio-1 h2,
#bio-2 h2 {
   text-align: center;
    font-family: 'Akaya Telivigala', cursive;
    font-size: 40px;
    padding: 5px 0px;
    margin: 1px 0px;
    color: #d6cdd2;
}

#bio-1 h3,
#bio-2 h3 {
    text-align: center;
    font-family: 'Akaya Telivigala', cursive;
    font-size: 35px;
    padding: 10px 0px;
    margin: 5px 0px;
    color: #0d0709;

}

#bio-1 p,
#bio-2 p {
  color:  #0d0709;
  padding: 12px;
  font-family: 'Prata', serif;
  font-size: 18px;
  font-weight: 400;

}

.close-btn {
    size: 20px;
    background-color:  rgba(13, 7, 9, 0.5);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 80%;
    position: relative;
    bottom: 50px;
    transition: all 0.35 ease-in-out;
    -moz-transition: all 0.35 ease-in-out;
    -webkit-transition: all 0.35 ease-in-out;
    -o-transition: all 0.35 ease-in-out;
}

.close-btn i {
  color: #d6cdd2;
  font-size: 25px;
}

.close-btn:hover {
    background-color: #b00f16;
}
/*****contact*****/



.contact-heading {
    padding: 20px 10px;
    margin: 4rem auto;
    max-width: 80%;
    height: auto;
    background-color:  rgba(0, 0, 0, 0.8);
}

.form {
    max-width: 70%;
    height: auto;
    align-self: center;
    background-color: #d6cdd2;
    padding: 20px 60px;
    margin: 10px auto;
    margin-bottom: 3rem;
    border: solid 2px;
    border-radius: 5px;
    box-shadow:  15px 10px 8px rgba(0, 0, 0, 0.8);
}

.contact-form h1 {
    color: #b00f16;
    font-weight: bolder;

}


.contact-form p {
    color: #be6851;
    padding: 12px;
    font-family: 'Prata', serif;
    font-size: 20px;
    font-weight: bolder;
}

label {
    color: #0d0709;
    padding: 12px;
    font-family: 'Prata', serif;
    font-size: 18px;
    font-weight: bolder;
    display: block;
    text-align: center;
}

input,
textarea {
    display: block;
    margin: 5px auto;
    width: 90%;
    height: auto;
    border: solid 3px #0d0709;
    border-radius: 5px;
}



input[type="submit"] {
    width: 200px;
    background-color: #be6851;
    font-family: 'Akaya Telivigala', cursive;
    font-size: 35px;
    padding: 10px;
    color: #0d0709;
    transition: all 0.35 ease-in-out;
    -moz-transition: all 0.35 ease-in-out;
    -webkit-transition: all 0.35 ease-in-out;
    -o-transition: all 0.35 ease-in-out;
}

input[type="submit"]:hover {
    background-color: #0d0709;
    color: #d6cdd2;
}

/*****Recipes*****/

.recipe-page {
    padding-top: 3rem;
}

.recipe-page h2 {
    font-family: 'Akaya Telivigala', cursive;
    font-size: 40px;
    padding: 5px;
    margin: 3px auto;
    color: #d6cdd2;
    font-weight: 500;
    background-color: #0d0709;
    width: fit-content;
    border-radius: 5px;
    box-shadow:  15px 10px 8px rgba(0, 0, 0, 0.8);
}

.card {
    
    background-color: #d6cdd2;
    padding: 10px;
    margin: 20px;
    box-shadow:  15px 10px 8px rgba(0, 0, 0, 0.8);
}

.card-body h3 {
    font-family: 'Akaya Telivigala', cursive;
    font-size: 35px;
    padding: 5px;
    margin: 3px auto;
    color: #b00f16;
    font-weight: 400;
    text-align: center;

}

.card-body h4 {
     font-family: 'Akaya Telivigala', cursive;
    font-size: 25px;
    padding: 5px;
    margin: 3px auto;
    color: #0d0709;
    font-weight: 400;
}

.list-group-item {
   background-color: #be6851;
   border: solid 3px #0d0709;
   color: #0d0709;
   padding: 5px;
   font-family: 'Prata', serif;
   font-size: 18px;
   margin: 3px;
}

.card-text {
   color: #0d0709;
   padding: 5px;
   font-family: 'Prata', serif;
   font-size: 18px;
   margin: 3px;
}

.card-img-top {
    cursor: pointer;
}

/*****Footer*****/

footer {
    height: fit-content;
    width: 100%;
    background: #0d0709;
}

.floating-footer {
    background-color: black;
}

.social-icons {
  list-style-type: none;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%
}

.social-icons li {
    display: inline-block;
    position: relative;
    padding: 20px;
    margin: 5px;
    color:  #d6cdd2;
    font-size: 40px;
    box-shadow:  15px 5px 8px rgba(0, 0, 0, 0.8);
}

.social-icons li a {
    color: #e3d8ee;
    transition: all 0.35 ease-in-out;
    -moz-transition: all 0.35 ease-in-out;
    -webkit-transition: all 0.35 ease-in-out;
    -o-transition: all 0.35 ease-in-out;
}

.social-icons li a:hover {
    color: #b00f16;
    background-color: #d6cdd2;
    border-radius: 10%;
    padding: 10px;
}



/*******Media Queries*****/

@media screen and (max-width: 575.98px) {
    .social-icons li {
        padding: 5px;
    }

    .call-out {
          margin-top: 180px;
          margin-bottom: 10px;
          box-shadow:  25px 15px 8px rgb(0 0 0 / 80%);
    }

    h1 {
        font-size: 35px;
    }

    .navigation {
        margin-top: 4rem;
    }

    #main {
        height: 1800px;
    }

   

}

@media screen and (max-width: 991.98px) {
   .call-out {
    width: 30%;
    height: 300px;
    margin-top: 180px;
    margin-bottom: 20px;
    border: 2px solid transparent; 
    padding: 2px;
    }

    #main {
        height: 1800px;
    }
}

@media screen and (max-width: 765px) {
     .toggle-btn {
         display: flex;
     }

     .navItem {
         display: none;
         width: 100%;
     }

     nav {
         flex-direction: column;
         align-items: flex-start;
     }

     .navMenu {
         width: 100%;
         flex-direction: column;
     }

     .navItem {
         text-align: right;
         align-items: flex-start;
     }

     .navItem a {
         padding: 0px;
     }

     .active {
         color: #d6cdd2;
         background-color: rgba(13, 7, 9, 0.5);
         border-radius: 10%;

     }

    .navItem a:hover {
    color: #b00f16;
    background-color: #d6cdd2;
    border-radius: 10%;
    width: 100%;
    border-radius: 2px;
    }

    .navigation {
        z-index: 1;
        background-color: rgba(13, 7, 9, 0.5);
    }

    .form {
        width: 90%;
        padding: 10px;
    }
}