@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Prata&display=swap');

/*******General Styling********/
html {
    font-size: 62.5%;
    position: relative; 
    min-height: 100vh; 
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1.8rem;
    font-family: 'Prata', serif;
    color: #0d0709;
}

.row {
    margin: 0;
}

.container-fluid {
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Akaya Telivigala', cursive;
}

/**Additional Classes**/
.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

/**Main Heading Logo**/
header {
    margin: 0;
    padding: 0;
    position: fixed;
    z-index: 2;
    height: 10vh;
}

h1 {
    text-align: center;
    font-size: 4rem;
    padding: 10px 0px;
    color:#0d0709;
    background-color: #be6851;
}

/**Navigation**/

.navigation {
    width: 100%;
    background-color: #0d0709;
    margin-top: -5px;
    padding: 0px;
}

.navMenu {
  list-style-type: none;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.navItem {
    display: inline;
    margin: 5px auto;
    text-decoration: none;
}

.navItem a {
  display: inline-block;
  text-transform: uppercase;
  color:  #d6cdd2;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  margin: 10px auto;
  font-size: 20px;
  font-weight: 700;
  margin: 5px;
}

.navItem a:hover,
.active,
.navItem a:active {
    color: #b00f16;
    background-color: #d6cdd2;
    border-radius: 10%;
}

.toggle-btn {
    position: relative;
    top: -5.2rem;
    flex-direction: column;
    justify-content: space-between;
    width: 32px;
    height: 21px;
    display: none;
    padding: 5px;
    border: none;
    width: 50px;
    height: 50px;
    font-size: 3rem;
    border-radius: 10px;
    background-color: #be6851;
}



/*Hero Image*/


.quote {
    padding: 8rem 1rem 2rem 10rem;
    margin: 8rem 0.4rem 0.3rem 0.3rem;
}


.quote h2 {
   color: #d6cdd2;
   font-size: 3.6rem;
   font-weight: 500;
   text-align: end;
   padding: 20px;
   margin: 5px;
   background-color: rgba(13, 7, 9, 0.9); 
   border-radius: 5px;
   box-shadow:  15px 5px 8px rgba(0, 0, 0, 0.8);
}

/************Code taken from css-tricks.com/perfect-full-page-background-image******************************/
.hero-img,
.about,
.recipe-page,
.contact-form {
  background: url("../images/bar-hero-img.jpg") no-repeat center center fixed; 
  background-size: cover;
}

#main {
    min-height: 90vh;
    max-height: fit-content;
}

.call-outs {
    margin-top: 7.8rem;
    margin-bottom: 3rem;
}

.call-out {
    background-color: #d6cdd2;
    width: 25%;
    margin: 30px auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow:  15px 5px 8px rgba(0, 0, 0, 0.8);
}

.sub-heading {
    text-align: center;
    font-size: 2.8rem;
    padding: 10px 5px;
    margin: 5px 2px;
    color:#0d0709;
}

.call-out p {
  padding: 12px;
  font-weight: 600;
}

/*******About*****/



.about-box {
    max-width: 70%;
    height: fit-content;
    background-color: white;
    margin: 17rem auto 3rem auto;
    border-radius: 10px;
    box-shadow:  15px 5px 8px rgba(0, 0, 0, 0.8);
}

.about-box h2 {
    color: #0d0709;
    font-size: 3.5rem;
}

.about-box p {
  padding: 12px;
  font-weight: 500;
}

.bio-2 a,
.bio a {
    color: #0d0709;
    font-weight: bold;
    text-decoration: none;
}

.bio-2 a:hover, 
.bio a:hover {
   color: #d6cdd2;
   background-color: rgba(13, 7, 9, 0.4);
}

#bio-1,
#bio-2 {
    max-height: fit-content;
    background-color: #be6851;
    display: inline-block;
    padding: 20px;
    margin: 10px;
    align-content: center;
    border-radius: 10px;
    box-shadow:  15px 5px 8px rgba(0, 0, 0, 0.8);   
    max-width: 440px;
}



.img-bartender-1,
.img-bartender-2 {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: 10px 80px;
    cursor: pointer;
}

#bio-1 h3,
#bio-2 h3 {
   text-align: center;
    font-size: 3.5rem;
    padding: 5px 0px;
    margin: 1px 0px;
    color: #d6cdd2;
    cursor: pointer;
}

#bio-1 h4,
#bio-2 h4 {
    text-align: center;
    font-size: 3rem;
    padding: 10px 0px;
    margin: 5px 0px;
    color: #0d0709;

}

.bio-social {
    padding: 1rem;
    margin: 0.5rem auto;
    text-align: center;
}

.socialLink {
    color: #d6cdd2;
    text-decoration: none;
}


.socialLink i {
    font-size: 4rem;
    padding: 0.8rem;
    margin: 1rem;
    color: #d6cdd2;
    text-decoration: none;
}

.socialLink i:hover {
    color: rgba(13, 7, 9, 0.5);
}

.close-btn {
    background-color:  rgba(13, 7, 9, 0.5);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 80%;
    padding: 10px;
    margin-top: 4rem;
    position: relative;
    bottom: 50px;
}

.close-btn i {
  color: #d6cdd2;
  font-size: 25px;
}

.close-btn:hover {
    background-color: #b00f16;
}
/*****contact*****/

.contact-form {
    padding-top: 15rem;
}

.contact-heading {
    padding: 20px 10px;
    margin: 10rem auto 4rem auto;
    max-width: 80%;
    height: auto;
    background-color:  rgba(0, 0, 0, 0.8);
}

.contact-heading h2 {
    color: #d6cdd2;
    font-size: 3.5rem;
    padding: 1rem;
    margin: 1rem;
}

.form {
    max-width: 70%;
    height: auto;
    align-self: center;
    background-color: #d6cdd2;
    padding: 20px 60px;
    margin: 10px auto;
    margin-bottom: 3rem;
    border: solid 2px;
    border-radius: 5px;
    box-shadow:  15px 10px 8px rgba(0, 0, 0, 0.8);
}

.contact-form p {
    color: #d6cdd2;
    padding: 12px;
    font-weight: 600;
}

label {
    color: #0d0709;
    padding: 12px;
    font-family: 'Prata', serif;
    font-size: 18px;
    font-weight: bolder;
    display: block;
    text-align: center;
}

input,
textarea {
    display: block;
    margin: 5px auto;
    width: 90%;
    height: auto;
    border: solid 3px #0d0709;
    border-radius: 5px;
}



input[type="submit"] {
    width: 200px;
    background-color: #be6851;
    font-family: 'Akaya Telivigala', cursive;
    font-size: 35px;
    padding: 10px;
    color: #0d0709;
}

input[type="submit"]:hover {
    background-color: #0d0709;
    color: #d6cdd2;
}

/*****Recipes*****/

.recipe-page {
    padding-top: 15rem;
}

.recipe-page h2 {
  /*  font-family: 'Akaya Telivigala', cursive; */
    font-size: 40px;
    padding: 5px;
    margin: 3px auto;
    color: #d6cdd2;
    font-weight: 500;
    background-color: #0d0709;
    width: fit-content;
    border-radius: 5px;
    box-shadow:  15px 10px 8px rgba(0, 0, 0, 0.8);
}

.card {
    
    background-color: #d6cdd2;
    padding: 10px;
    margin: 20px;
    box-shadow:  15px 10px 8px rgba(0, 0, 0, 0.8);
}

.card-body h3 {
    font-size: 2.5rem;
    padding: 5px;
    margin: 3px auto;
    color: #b00f16;
    font-weight: 400;
    text-align: center;
    cursor: pointer;

}

.card-body h4 {
    font-size: 2.2rem;
    padding: 5px;
    margin: 3px auto;
    color: #0d0709;
    font-weight: 400;
}

.list-group-item {
   background-color: #be6851;
   border: solid 3px #0d0709;
   color: #0d0709;
   padding: 5px;
   margin: 3px;
}

.card-text {
   color: #0d0709;
   padding: 5px;
   margin: 3px;
}

.recipe i {
    font-size: 2.5rem;
    padding: 0.5rem;
    border: 2px solid black;
    color: grey;
    position: relative;
    top: 20px;
    left: 40px;
   

}


/*****Footer*****/

footer {
    height: fit-content;
    min-height: 10vh;
    width: 100%;
    background: #0d0709;
    padding: 5rem;
    
}

.floating-footer {
    background-color: black;
}

.social-icons {
  list-style-type: none;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%
}

.social-icons li {
    display: inline-block;
    position: relative;
    padding: 20px;
    margin: 5px;
    color:  #d6cdd2;
    font-size: 40px;
    box-shadow:  15px 5px 8px rgba(0, 0, 0, 0.8);
}

.social-icons li a {
    color: #e3d8ee;
    transition:  0.5 ease-in-out;
}

.social-icons li a:hover {
    color: #b00f16;
    background-color: #d6cdd2;
    border-radius: 10%;
    padding: 10px;
}

.copy-rights{
    margin: 1rem;
}
    
span {
    color: #d6cdd2;
    font-size: 1.5rem;
    padding: 1rem;
    margin: 2rem auto;
}



/*******Media Queries*****/

@media screen and (max-width: 575.98px) {
    .social-icons li {
        padding: 5px;
    }

    .call-outs {
        width: 100%;
        padding: 10px;
        margin-top: 5rem;
    }

    .quote {
        width: 100%;
        margin: 10rem auto 3rem auto;
        padding: 5px;
        border: solid 5px #0d0709;
    }

    .quote h2 {
        font-size: 2.5rem;
        text-align: center;
    }

    #bio-1,
    #bio-2 {
        max-height: 1090px;
    }

}

@media screen and (max-width: 991.98px) {

   .call-out {
    width: 30%;
    margin-top: 10rem;
    margin-bottom: 20px;
    border: 2px solid transparent; 
    padding: 2px;
    }

    .call-outs {
        margin-top: 7rem;
    }

    .quote h2 {
        font-size: 3.2rem;
    }

    #bio-1,
    #bio-2 {
         max-width: 330px;
         max-height: 1090px;
    }

    .img-bartender-1,
    .img-bartender-2 {
        margin: 10px 30px;
    }
}



@media screen and (max-width: 765px) {
     .toggle-btn {
         display: flex;
     }

     .navItem {
         display: none;
         width: 100%;
     }

     nav {
         flex-direction: column;
         align-items: flex-start;
     }

     .navMenu {
         width: 100%;
         flex-direction: column;
         margin-top: -5rem;
     }

     .navItem {
         text-align: right;
         align-items: flex-start;
     }

     .navItem a {
         padding: 0px;
     }

     .active {
         color: #d6cdd2;
         background-color: rgba(13, 7, 9, 0.5);
         border-radius: 10%;

     }

    .navItem a:hover {
    color: #b00f16;
    background-color: #d6cdd2;
    border-radius: 10%;
    width: 100%;
    border-radius: 2px;
    }

    .navigation {
        z-index: 1;
       background-color: transparent;
    }

    .form {
        width: 90%;
        padding: 10px;
    }

    .quote h2 {
        font-size: 2.5rem;
        text-align: center;
    }
}